@import "vendor.css";
@import "header.css";
@import "footer.css";
@import "products.css";
@import "preguntas.css";
@import "perfil.css";
@import "registro.css";
@import "fotografia.css";
@import "master.css";
@import "navbar.css";
@import "media-vendor.css";
@import "media-producto.css";
@import "media-perfil.css";
@import "media-pregunta.css";
@import "media-registro.css";


.carrusel{
  padding: 40px;

}

img{
  margin-left: -2%;
}

/* .carousel-inner{
  box-shadow: 5px 10px 5px 5px rgba(110, 104, 106, 1);
} */
.white_section2{
  width: 73%;
  background-color: rgba(60, 61, 62, 0.92);
  margin-left: 13%;
  float: left;
color: white;
  font-size: 20px;
  }

.white_section2 h1{
  color: black;
}

.white_section2 a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.white_section2 a:hover{
  color:red;
  text-decoration: none;

}

a.page-link{
  color: black;
}
