@media (
  max-width: 768px) {

  form {
    margin-left: 50%;
  }
  input{
    width: 50%;
    margin-left: 0px;
  }
  label{
    display: none;

  }
  button{
    margin-left: -60%;
  }
}
@media (max-width: 460px) {
  form {
    margin-left: 50%;
  }
  input{
    width: 50%;
    margin-left: 0px;
  }
  label{
    display: none;

  }
  button{
    margin-left: -60%;
  }

}
